{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
    <div class="container">
        <h1>Le planning technicien</h1>
        <button class="btn btn-primary">CTA</button>
    </div>
{% endblock %}
