{% extends 'base.html.twig' %}

{% block title "Création client" %}

{% block body %}
    <div class="container " style="max-width: 540px">
        <h2>Création d'un client</h2>
        {{ form(form) }}
    </div>
{% endblock %}