{% extends 'base.html.twig' %}

{% block title "Edit client" %}

{% block body %}
    <div class="container" style="max-width: 540px">
        <h2>Modification d'un client</h2>
        {{ form(form) }}
    </div>
{% endblock %}