$primary: #0388A6;
$secondary: #73D5D8;
$success: #06DFC0;
$info: #04ADBF;
$danger: #F2226E;
$warning: #F29E6D;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right,white, $secondary);
  //color: #00456E;
}

@media screen and (max-width: 768px) {
  body{
    font-size: small;
  }
}

